aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
click==8.0.4
cma==3.0.3
cycler==0.10.0
Cython==0.29.28
dataclasses==0.8
decorator==5.1.1
file-read-backwards==2.0.0
Flask==2.0.3
GPy==1.10.0
GPyOpt==1.2.6
idna==2.8
idna-ssl==1.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.1.0
MarkupSafe==2.0.1
matplotlib==3.3.4
mergedeep==1.3.4
more-itertools==8.4.0
mpi4py==3.0.3
multidict==4.7.4
numpy==1.19.5
oauthlib==3.1.0
packaging==20.4
pandas==1.0.1
-e git+https://github.com/sherpa-ai/sherpa@ff6466e99717983f9f394ba72b63f17343e32bdc#egg=parameter_sherpa
paramz==0.9.5
Pillow==8.3.1
pluggy==0.13.1
py==1.9.0
pymongo==4.1.1
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pytest==5.4.3
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
requests==2.22.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scipy==1.4.1
Shapely==1.8.1.post1
six==1.13.0
threadpoolctl==3.1.0
typing-extensions==3.7.4.2
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.3
wolframclient==1.1.2
yarl==1.4.2
zipp==3.1.0
